<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <a th:fragment="menu-item(link, title, svgContent, menuItem)" th:href="${link}" class=" group flex items-center rounded-md px-2 py-2 text-sm font-medium"
  th:classappend="${activeMenuItem == menuItem}? 'bg-gray-100 text-gray-900' : 'text-gray-600 hover:bg-gray-50 hover:text-gray-900' ">
    <svg th:replace="~{${svgContent}}"></svg>
<!--    <div class="mr-4 h-6 w-6 flex-shrink-0"-->
<!--         th:classappend="${activeMenuItem == menuItem}?'text-gray-500':'text-gray-400 group-hover:text-gray-500'">-->
<!--      <svg th:replace="~{${svgContent}}"></svg>-->
<!--    </div>-->
    [[${title}]]
  </a>

</body>
</html>