<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:x-transition="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{/layouts/layout}">
      class="h-full bg-gray-100">
<head>
    <meta charset="UTF-8">
    <title>Taming Thymeleaf</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
    <div layout:fragment="page-content">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            Dashboard
        </div>
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <!-- Your content -->
            Hello, World!
        </div>
    </div>
</body>
</html>